.login-page {
  height: 100vh;
}

.login-page__image {
  background-image: url(https://source.unsplash.com/random);
  background-repeat: no-repeat;
  background-color: #fafafa;
  background-size: cover;
  background-position: center;
}