@import '../../styles/functions.scss';

.login-page {
  height: 100vh;
}

.login-page__image {
  background-repeat: no-repeat;
  background-color: color(primary);
  background-size: cover;
  background-position: center;
}