
@import '../../../styles/functions.scss';

.monster-list-item {
  padding: 8px 16px;
  border-bottom: 1px solid color(primary-input-dark);
  cursor: pointer;
}

.monster-list-item:not(.monster-list-item--selected):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.monster-list-item--selected {
  background-color: rgba(5, 54, 139, 0.3);
}

.monster-list-item__health-bar {
  width: 100%;
}