@import '../../../styles/functions.scss';

.monsters-list {
  height: 350px;
  width: 200px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid color(primary-input-dark);
  -webkit-user-select: none;
  user-select: none;
}

.monsters-list__column {
  flex-wrap: nowrap;
}

.monsters-list__title {
  border-bottom: 2px solid color(primary-input-dark);
  background-color: color(primary-input-dark);
  color: white;
  padding: 8px;
  text-align: center;
}

.monsters-list__flex-item {
  flex: 0 1 auto;
  overflow: scroll;
}

.monsters-list__monsters {
  padding: 8px 16px;
}