.create-adventurer-attributes {
  flex-grow: 0;
  width: 210px !important;
}

.create-adventurer-attributes__paper {
  height: 42vh;
  padding: 16px;
}

.create-adventurer-attributes__attribute-text {
  padding-bottom: 16px;
  margin-bottom: 8px;
}