.create-adventurer__card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px; 
}

.create-adventurer__title {
  padding-top: 8px;
}

.create-adventurer__card-avatar {
  margin: 8px;
}
