.create-adventurer__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px; 
}

.create-adventurer__card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.create-adventurer__card-avatar {
  margin: 8px;
}
