.create-adventurer__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 250px;
  padding: 4px;
  margin-bottom: 32px;
}

.create-adventurer__card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.create-adventurer__card-icon {
  margin: 16px;
  margin-top: 0px;
  font-size: 75px !important;
  color: #999;
}
