$theme: (
  primary: #5CDB95,
  primary-dark: #379683,
  primary-light: #8EE4AF,
  primary-input: #24528F,
  primary-input-dark: #05368B,
  primary-text: #EDF5E1,
  disabled-input: #E7E7E7,
  error: #FF1744
);
