$theme: (
  primary: #5CDB95,
  primary-dark: #379683,
  primary-light: #A7E9C0,
  primary-input-light: #6f89AC,
  primary-input: #24528F,
  primary-input-dark: #05368B,
  primary-text: #EDF5E1,
  primary-text-dark: #2B2D30,
  disabled-input: #E7E7E7,
  error-light: #FFE7EC,
  error: #FF1744,
  error-dark: #66091B,
  warning-light: #F5EEB1,
  warning: #E8DD7B,
  warning-dark: #816F0B,
  health: #EF2D56,
  health-dark: #861830,
  mana: #39A9DB,
  mana-dark: #1C77C3,
  tooltip: #555,
  tooltip-hover: #666,
);

// Red
// #D81159
// #EF2D56
// #EF476F

// Yello
// #FFBC42
// #FFD166

//  SP
// #07A0C3